---
members:
- name: Joshua Grabenstein
  title: President
  major: Computer Science Major and IMM Minor
  class: Senior
  link: https://www.linkedin.com/in/jagrabenstein/
- name: Joshua Grabenstein
  title: Vice President
  major: Computer Science Major and IMM Minor
  class: Senior
  link: https://www.linkedin.com/in/jagrabenstein/
- name: Lisa Walker
  title: Treasurer
  major: Criminology Major
  class: Senior
  link: https://www.linkedin.com/in/lisa-marie-walker/
- name: Lalima Bhola
  title: Secretary
  major: Computer Science Major
  class: Sophomore
  link: https://www.linkedin.com/in/lalima-bhola-3591a61a3/
- name: Nishitha Reddy
  title: Outreach Co-Chair 1
  major: Computer Science Major and WGS Minor
  class: Sophomore
  link: https://www.linkedin.com/in/nishitha-r-239816199/
- name: Justin Pabon
  title: Outreach Co-Chair 2
  major: Computer Science Major
  class: Senior
  link: https://www.linkedin.com/in/justin-pabon/
- name: Thomas Orth
  title: Webmaster
  major: Computer Science Major
  class: Senior
  link: https://thomasjorth.com
advisor:
  name: Dr. Monisha Pulimood
  title: Professor and Department Chair of Computer Science
  link: https://computerscience.tcnj.edu/faculty-staff/faculty/dr-monisha-pulimood
---
<h1>About Us</h1>

<ul id="members-ul">
    {{#each members}}
        <li>
            <div><img src="img/people/{{lowercase (replace title ' ' '-')}}.png" alt="{{name}}"/></div>
            <a target="_blank" rel="noopener" href="{{link}}"><span>{{name}}</span></a>
            <span>{{title}}</span>
            <span>{{major}}</span>
            <span>{{class}}</span>
        </li>
    {{/each}}
    <li>
        <div><img src="img/people/advisor.png" alt="{{advisor.name}}"/></div>
        <a target="_blank" rel="noopener" href="{{advisor.link}}"><span>{{advisor.name}}</span></a>
        <span>Advisor</span>
        <span>{{advisor.title}}</span>
    </li>
</ul>
