---
members:
- name: Shm Almeda
  title: President
  major: Computer Science Major and Fine Arts Minor
  class: Senior
  link: https://www.linkedin.com/in/sarah-almeda
- name: Sophie Goldberg
  title: Vice President
  major: Computer Science Major and Management Minor
  class: Senior
  link: https://www.linkedin.com/in/goldbergsophia
- name: Gordon Petry
  title: Treasurer
  major: Criminology Major
  class: Junior
  link: https://www.linkedin.com/in/emilykazenmayer
- name: Alyssa Popper
  title: Secretary
  major: Computer Science Major, Electrical Engineering Minor, and Interactive Multimedia Minor
  class: Sophomore
  link: https://www.linkedin.com/in/alyssa-popper-144699191
- name: Isabel Frade
  title: Outreach Co-Chair 1
  major: Computer Science Major
  class: Junior
  link: https://www.linkedin.com/in/isabel-frade-b03155172
- name: Tooba Bajwa
  title: Outreach Co-Chair 2
  major: Computer Science Major
  class: Sophomore
  link: https://www.linkedin.com/in/tooba-bajwa-285363105
- name: Tomer Aberbach
  title: Webmaster
  major: Computer Science Major and Mathematics Minor
  class: Senior
  link: https://tomeraberba.ch
advisor:
  name: Dr. Monisha Pulimood
  title: Professor and Department Chair of Computer Science
  link: https://computerscience.tcnj.edu/faculty-staff/faculty/dr-monisha-pulimood
---
<h1>About Us</h1>

<ul id="members-ul">
    {{#each members}}
        <li>
            <div><img src="img/people/{{lowercase (replace title ' ' '-')}}.png" alt="{{name}}"/></div>
            <a target="_blank" rel="noopener" href="{{link}}"><span>{{name}}</span></a>
            <span>{{title}}</span>
            <span>{{major}}</span>
            <span>{{class}}</span>
        </li>
    {{/each}}
    <li>
        <div><img src="img/people/advisor.png" alt="{{advisor.name}}"/></div>
        <a target="_blank" rel="noopener" href="{{advisor.link}}"><span>{{advisor.name}}</span></a>
        <span>Advisor</span>
        <span>{{advisor.title}}</span>
    </li>
</ul>
